@import './color_scheme';
@import './common';
@import './loading_bar';

body {
  /* background-color: #808080; */
  margin: 0;
  padding: 0; 
}

.hide-scroll-bar-container {
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.hide-scroll-bar-container > {
  div, span {
    width: 100%;
    height: 100%;

    overflow: scroll;
    /* Hiding the scroll bar */
    padding-right: 17px; /* Increase/decrease this value for cross-browser compatibility */
    padding-bottom: 17px;
    box-sizing: content-box; /* So the width will be 100% + 17px */
  }
}

// This issue is fixed recently, but not released in npm. Delete it when it is released.
/* Avoids https://github.com/mozilla/pdf.js/issues/13840 in Chrome */
.textLayer br::selection {
  background: transparent;
}
